<div>
<label>Prikazi formu za dodavanje nastavnika </label>
<button (click)="nastavnik()" id="bt">
    {{buttonName}}
</button>
</div>

<div>
    <label>Prikazi formu za dodavanje dodavanje administrativnog osoblja</label>
    <button (click)="clan()" id="bt">
        {{buttonNameO}}
    </button>
</div>




<!--Forma za dodavanje nastavnika-->
<ng-container *ngIf="showNastavnikForma">
<div *ngIf="registrovaniNesvrstaniKorisnici">
    <form ngNativeValidate [formGroup]="formaZaDodavanjeNastavnika" (ngSubmit)="dodajNastavnika(formaZaDodavanjeNastavnika.value)">
        <label>Forma za dodavanje nastavnika</label>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Korisnik</label>
                <select formControlName="korisnik">
                    <option *ngFor="let korisnik of registrovaniNesvrstaniKorisnici" [value]="korisnik.id">{{korisnik.ime}} | {{korisnik.prezime}} | {{korisnik.email}}</option>
                 </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Jmbg</label>
                <input type="text" class="form-control" formControlName="jmbg" placeholder="Jmbg" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Biografija</label>
                <input type="text" class="form-control" formControlName="biografija" placeholder="Biografija" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Profesor</label>
                <fieldset id="grp1">
                    <p>Da <input type="radio" formControlName="profesor" value="true"></p>
                    <p>Ne <input type="radio" formControlName="profesor" value="false"></p>
                </fieldset>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Asistent</label>
                <fieldset id="grp2">
                    <p>Da <input type="radio" formControlName="asistent" value="true"></p>
                    <p>Ne <input type="radio" formControlName="asistent" value="false"></p>
                </fieldset>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Dodaj nastavnika</button>
        <br>
        <br>
        <br>
    </form>
</div>
</ng-container>
<!-- Kraj forme za dodavanje nastavnika-->

<!-- Pocetak forme za dodavanje administrativnog osoblja-->
<ng-container *ngIf="showOsobljeForma">
    <div *ngIf="registrovaniNesvrstaniKorisnici">
        <form ngNativeValidate [formGroup]="formaZaDodavanjeOsoblja" (ngSubmit)="dodajOsoblje(formaZaDodavanjeOsoblja.value)">
            <label>Forma za dodavanje administrativnog osoblja</label>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Korisnik</label>
                    <select formControlName="korisnik">
                        <option *ngFor="let korisnik of registrovaniNesvrstaniKorisnici" [value]="korisnik.id">{{korisnik.ime}} | {{korisnik.prezime}} | {{korisnik.email}}</option>
                     </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Jmbg</label>
                    <input type="text" class="form-control" formControlName="jmbg" placeholder="Jmbg" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Uloga</label>
                    <input type="text" class="form-control" formControlName="uloga" placeholder="Uloga" required>
                </div>
                
            </div>
            <button class="btn btn-primary" type="submit">Dodaj osoblje</button>
            <br>
        <br>
        <br>
        </form>
    </div>
    </ng-container>
