

<mat-checkbox (change)='prikazIDodavanjeStudenataFunction($event)'>Forma za studente</mat-checkbox>
<br>
<mat-checkbox (change)='prikazFormeRokaFunction($event)'>Forma za rok</mat-checkbox>
<br>
<mat-checkbox (change)='prikazFormeIspitaFunction($event)'>Forma za ispit</mat-checkbox>


<br>
<br>

<div *ngIf="prikazIDodavanjeStudenata">
<div>
    Search: <input type="text" placeholder="Pretrazite studente" [(ngModel)]="pretraga">
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">E-mail</th>
            <th scope="col">Broj indeksa</th>
            <th scope="col">JMBG</th>
            <th scope="col">Datum rodjenja</th>
            <th scope="col">Mesto rodjenja</th>
            <th scope="col">Drzava rodjenja</th>
            <th scope="col">Godina upisa</th>
            <th scope="col">Vanredni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studenti | filter:pretraga">
            <th scope="row">{{student.id}}</th>
            <td>{{student.korisnik.ime}}</td>
            <td>{{student.korisnik.prezime}}</td>
            <td>{{student.korisnik.email}}</td>
            <td>{{student.brojIndeksa}}</td>
            <td>{{student.jmbg}}</td>
            <td>{{student.datumRodjenja}}</td>
            <td>{{student.mestoRodjenja}}</td>
            <td>{{student.drzavaRodjenja}}</td>
            <td>{{student.godinaUpisa}}</td>
            <td *ngIf="student.vanredni == true">Da</td>
            <td *ngIf="student.vanredni == false">Ne</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
<br>
<br>
    <!--Pocetak diva za forme -->
    <div style="display: flex;">


        <!--Pocetak forme za dodavanje studenta -->
    <div *ngIf="registrovaniNesvrstaniKorisnici && prikazIDodavanjeStudenata">
        <form ngNativeValidate [formGroup]="formaZaDodavanjeNovogStudenta" (ngSubmit)="dodajStudenta(formaZaDodavanjeNovogStudenta.value)">
            <div class="example-container">
                <p>
                  <mat-form-field appearance="fill">
                      <mat-label>Izaberi korisnika</mat-label>
                      <mat-select formControlName="korisnik">
                        <mat-option *ngFor="let korisnik of registrovaniNesvrstaniKorisnici" [value]="korisnik" required>{{korisnik.ime}} | {{korisnik.prezime}} | {{korisnik.email}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </p> 
                <p>
                  <mat-form-field appearance="outline">
                      <mat-label>Broj indeksa</mat-label>
                      <input matInput placeholder="Broj indeksa" formControlName="brojIndeksa" required>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field>
                    <mat-label>Datum rodjenja</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="datumRodjenja" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                      <mat-label>Mesto rodjenja</mat-label>
                      <input matInput placeholder="Mesto rodenja" formControlName="mestoRodjenja" required>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                      <mat-label>Drzava rodjenja</mat-label>
                      <input matInput placeholder="Drzava rodjenja" formControlName="drzavaRodjenja" required>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                      <mat-label>Godina upisa</mat-label>
                      <input matInput placeholder="Godina upisa" formControlName="godinaUpisa" required>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                      <mat-label>JMBG</mat-label>
                      <input matInput placeholder="jmbg" formControlName="jmbg" required>
                  </mat-form-field>
                </p>
                <p>
                  <mat-radio-group formControlName="vanredni" required>
                      <mat-radio-button value="true">Da</mat-radio-button>
                      <br>
                      <mat-radio-button value="false">Ne</mat-radio-button>
                  </mat-radio-group>
                </p>
                <p>
                  <mat-form-field appearance="fill">
                      <mat-label>Izaberi Predmete</mat-label>
                      <mat-select formControlName="listaPredmeta" (selectionChange)="zakaciPredmetZaStudenta($event.value)">
                        <mat-option *ngFor="let predmet of predmeti" [value]="predmet" required>Id:{{predmet.id}} | {{predmet.naziv}} | Semestar:{{predmet.semestar}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </p>
              <div *ngFor="let predmet of odabraniPredmetiZaStudenta">
                  Id:{{predmet.id}} | {{predmet.naziv}} | Semestar:{{predmet.semestar}}
              </div>
            </div>
            <button mat-flat-button color="primary" type="submit">Dodaj studenta</button>
          </form>
    </div>
        <!--Kraj forme za dodavanje studenta -->




    <!--Pocetak forme za dodavanje roka -->
    <div *ngIf="prikazFormeRoka">
      <form ngNativeValidate [formGroup]="formaZaDodavanjeRoka" (ngSubmit)="dodajRok(formaZaDodavanjeRoka.value)">
        <div class="example-container">
          <p>
            <mat-form-field appearance="outline">
                <mat-label>Naziv</mat-label>
                <input matInput placeholder="Naziv" formControlName="naziv" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Datum pocetka roka</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="pocetak" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Datum kraja roka</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="kraj" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </p>
          <p>
            <label>Vanredni:</label>
            <br>
            <mat-radio-group formControlName="vanredan" required>
                <mat-radio-button value="true">Da</mat-radio-button>
                <br>
                <mat-radio-button value="false">Ne</mat-radio-button>
            </mat-radio-group>
          </p>
          <button mat-flat-button color="primary" type="submit">Dodaj rok</button>
        </div>
      </form>
    </div>
    <!--Kraj forme za dodavanje roka -->

    <!--Pocetak forme za dodavanje ispita -->
    <div *ngIf="prikazFormeIspita">
      <form ngNativeValidate [formGroup]="formaZaDodavanjeIspita" (ngSubmit)="dodajIspit(formaZaDodavanjeIspita.value)">
        <div class="example-container">
          <p>
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="datumVreme">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
               [touchUi]="false" [enableMeridian]="false" 
               [disableMinute]="false" [hideTime]="false">
            </ngx-mat-datetime-picker>
         </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
              <mat-label>Izaberi predmet</mat-label>
              <mat-select formControlName="predmet">
                <mat-option *ngFor="let predmet of predmeti" [value]="predmet" required>{{predmet.naziv}} | {{predmet.id}}</mat-option>
              </mat-select>
            </mat-form-field>
        </p> 

        <p>
          <mat-form-field appearance="fill">
              <mat-label>Izaberi rok</mat-label>
              <mat-select formControlName="rok">
                <mat-option *ngFor="let rok of rokovi" [value]="rok" required>{{rok.id}} | {{rok.naziv}}</mat-option>
              </mat-select>
            </mat-form-field>
        </p> 
          
          <button mat-flat-button color="primary" type="submit">Dodaj ispit</button>
        </div>
      </form>
    </div>

    <!--Kraj forme za dodavanje ispita-->
    
  </div>
  <!--Kraj diva za forme-->



  
  
