<div id="container">
    <div class="row">
        <div class="col-sm">
                <h2 class="col-sm">Dobrodosli na Singidunum</h2>
                <p class="col-sm">Opis univerziteta iz baze aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

                <h3 class="col-sm">Nas rektor</h3>
                <p class="col-sm">Osnovni podaci o rektoru iz baze aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a href="#"> Link za detaljnije o rektoru</a>
                <img src="https://i1.rgstatic.net/ii/profile.image/272762891665465-1442043149984_Q512/Mladen_Veinovic.jpg">
        </div>
    </div>
</div>
