
<div class="midDiv">
  <form [formGroup]="loginForm" ngNativeValidate (ngSubmit)="login(loginForm.value)">
      <h2>Prijava</h2>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Korisnicko ime</mat-label>
          <input matInput type="text" formControlName="korisnickoIme">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Lozinka</mat-label>
          <input matInput type="password" formControlName="lozinka">
        </mat-form-field>
      </p>
    <button id="b1" mat-flat-button color="primary" type="submit">Prijavi se</button>
  </form>
</div>


