
<div class="login-form">
  <form [formGroup]="loginForm" ngNativeValidate (ngSubmit)="login(loginForm.value)">
      <h2 class="text-center">Prijava</h2>       
      <div class="form-group">
          <input type="text" class="form-control" formControlName="korisnickoIme" placeholder="Korisnicko ime" required="required">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" formControlName="lozinka" placeholder="Lozinka" required="required">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Uloguj se</button>
      </div>    
      <p class="text-center"><a [routerLink]="['/registracija']" routerLinkActive="router-link-active" >Registruj se</a></p>
    <h2 style="text-decoration: underline; cursor: pointer;" class="text-center" [routerLink]="['/']" routerLinkActive="router-link-active" >Nastavi kao gost</h2>  
  </form>
</div>


