<div *ngIf="!ulogovan">
<form  (ngSubmit)="login()" ngNativeValidate>
    <div>
        <label for="korisnickoIme">
          Korisnicko ime
        </label>
        <input id="korisnickoIme" type="text" [(ngModel)]="korisnickoIme" name="korisnickoIme" required>
    </div>
    
    <div>
        <label for="lozinka">
          Lozinka
        </label>
        <input id="lozinka" type="password" [(ngModel)]="lozinka" name="lozinka"  required>
    </div>

    <button class="button" type="submit">Uloguj se</button>
    <br>
    <a [routerLink]="['/registracija']" routerLinkActive="router-link-active" >Registruj se</a>
</form>
</div>

<div *ngIf="ulogovan">
  <p>Uspesno ste ulogovani</p>
  <button (click)="logout()">Izloguj se</button>
</div>

