.midDiv {
  text-align: center;
  display: inline-block;
  padding: 17px 40px 17px 40px;
  margin-top: 5%;
  margin-left: 43.5%;
  font-size: 15px;
  background-color: rgba(203,230,220,0.50);
  border: 4px lightblue solid;
  border-radius: 10%;
}

#b1 {
  width: 70%;
}
